.blog {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 14.5%;
	padding-top: 105px;
	padding-bottom: 260px;
	margin: 0;
	box-sizing: border-box;
	background: #ffffff;

	.blog__title {
		width: 100%;
		margin: 0;
		margin-bottom: 95px;
		font-size: 45px;
		font-weight: 500;
		font-family: 'Cormorant Garamond';
		line-height: 25px;
		text-align: center;
	}

	.blog__picture {
		width: 425px;
		height: 460px;
		position: relative;
		padding-top: 61px;
		padding-left: 72px;

		.picture__decoration-left {
			position: absolute;
			top: 0;
			left: 0;
			width: 268px;
			height: 350px;
			background: transparent;
			border: 10px #f9f9f9 solid;
		}

		img {
			position: absolute;
			top: 61px;
			left: 72px;
			border: 6px white solid;
			box-shadow: 0px 5px 19px 1px rgba(223, 220, 220, 0.75);
			z-index: 5;
		}

		.picture__decoration-right {
			position: absolute;
			bottom: -104px;
			right: -104px;
			width: 293px;
			height: 388px;
			background-image: -webkit-linear-gradient(24deg, rgb(101,224,188) 0%, rgb(201,249,235) 100%);
			background-image: -o-linear-gradient(24deg, rgb(101,224,188) 0%, rgb(201,249,235) 100%);
			background-image: linear-gradient(114deg, rgb(101,224,188) 0%, rgb(201,249,235) 100%);
			opacity: 0.722;
			z-index: 4;
		}
	}

	.blog__card {
		position: relative;
		padding-top: 50px;
		width: 40%;

		.card__title {
			margin-bottom: 40px;
			font-size: 20px;
			line-height: 25px;
			font-family: 'Poppins';
			font-weight: 500;
		}

		.card__description {
			margin-bottom: 100px;
			font-size: 15px;
			line-height: 25px;
			font-family: 'Poppins';
			font-weight: 300;
			color: #888888;
		}

		.card__button {
			position: absolute;
			bottom: 120px;
			right: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 145px;
			height: 47px;
			background: #82f4d3;
			z-index: 25;
			font-family: 'Poppins';
			font-size: 15px;
			line-height: 30px;
		}
	}
}
