.popular-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: ;
	width: 100%;
	padding: 0 216px;
	margin-bottom: 285px;
	box-sizing: border-box;

	.popular-item__title {
		display: block;
		width: 100%;
		padding: 0;
		margin: 0;
		margin-bottom: 72px;
		font-weight: 500;
		font-size: 45px;
		line-height: 25px;
		font-family: 'Cormorant Garamond';
	}

	.popular-item__catalog {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		padding: 0;
		margin: 0;

		.catalog__catalog-item {

			.catalog-item__image {
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				width: 250px;
				height: 305px;
				margin-bottom: 66px;
				background: #eeeded;
				z-index: 25;

				.catalog-item__hover {
					display: none;
					justify-content: center;
					align-items: center;
					position: absolute;
					top: 10px;
					left: 11px;
					width: 228px;
					height: 285px;
					box-sizing: border-box;
					background-color: rgb(130, 244, 211);
  					opacity: 0.871;
  					z-index: 1;

					.catalog-item__button {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 150px;
						height: 49px;
						border: 2px #fff solid;
						border-radius: 1px;
						font-family: 'Poppins';
						font-size: 15px;
						line-height: 15px;
						color: #fff;
					}
				}
			}

			&:hover .catalog-item__hover {
				display: flex;
			}
		}

		.catalog-item__mark {
			display: flex;
			flex-wrap: wrap;

			.mark__title, 
			.mark__type {
				padding-right: 23px;
				margin: 0;
				font-size: 15px;
				line-height: 15px;
				font-family: 'Poppins';
				color: #000;
			}

			.mark__type {
				color: #bbbbbb;
			}

			.mark__price {
				width: 100%;
				margin: 0;
				margin-top: 25px;
				font-family: 'Roboto';
				font-size: 25px;
				line-height: 30px;
				color: #999999;
			}
		}
	}
}


.bg_copy {
  background-color: rgb(130, 244, 211);
  opacity: 0.871;
  position: absolute;
  left: 533px;
  top: 1915px;
  width: 230px;
  height: 286px;
  z-index: 166;
}
