.pre-collection {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0 216px 303px 216px;
	box-sizing: border-box;
	background: #ffffff;

	.pre-collection__card {
		position: relative;
		max-width: 555px;
		margin-top: 175px;

		.card__title {
			padding: 0;
			margin: 0;
			margin-bottom: 50px;
			font-size: 45px;
			font-family: 'Cormorant Garamond';
		}

		.card__description {
			padding: 0;
			margin: 0;
			margin-bottom: 64px;
			font-size: 15px;
			line-height: 30px;
			font-family: 'Poppins';
			font-weight: 300;
		}
		
		.card__button {
			position: absolute;
			bottom: -20px;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 145px;
			height: 47px;
			background: #82f4d3;
			z-index: 25;
			font-family: 'Poppins';
			font-size: 15px;
			line-height: 30px;

			&:hover {
				background: black;
				color: #82f4d3;

				&+.card__button--border {
					border: 2px black solid;
				}
			}

			&:active {
				color: white;
			}
		}

		.card__button--border {
			content: '';
			position: absolute;
			bottom: -9px;
			left: -11px;
			width: 143px;
			height: 45px;
			margin: 0;
			padding: 0;
			background: transparent;
			border: 1px #c6faeb solid;
			z-index: 3;
		}
	}

	.pre-collection__image {
		display: block;
		position: relative;
		z-index: 5;

		img {
			position: absolute;
			top: 0;
			right: 0;
			border: 4px #fff solid;
			z-index: 5;
		}

		.image__decoration {
			position: absolute;
			bottom: -104px;
			right: -104px;
			width: 293px;
			height: 388px;
			background-image: -webkit-linear-gradient(24deg, rgb(101,224,188) 0%, rgb(201,249,235) 100%);
			background-image: -o-linear-gradient(24deg, rgb(101,224,188) 0%, rgb(201,249,235) 100%);
			background-image: linear-gradient(114deg, rgb(101,224,188) 0%, rgb(201,249,235) 100%);
			opacity: 0.722;
			z-index: 4;
		}
	}
}

@media @tablet-widths {
	.pre-collection {
		padding: 0 156px 126px 156px;
	
		.pre-collection__card {
			max-width: 350px;
			margin-top: 120px;
	
			.card__title {
				font-size: 36px;
				font-weight: 500;
			}
		}
	
		.pre-collection__image {
	
			img {
				top: 160px;
				width: 282px;
				height: 305px;
			}
	
			.image__decoration {
				bottom: -55px;
				right: -54px;
				width: 176px;
				height: 233px;
			}
		}
	}
}

@media @mobile-widths {
	.pre-collection {
		padding: 0 30px;
		margin-bottom: 440px;
	
		.pre-collection__card {
			min-width: 300px;
			margin: 0 auto;
			margin-top: 0px;
	
			.card__title {
				text-align: center;
				font-size: 28px;
				font-weight: 500;
				margin-bottom: 30px;
			}

			.card__button {
				bottom: -370px;
			}
		}
	
		.pre-collection__image {
	
			img {
				top: 280px;
				right: 60px;
				width: 282px;
				height: 305px;
			}
	
			.image__decoration {
				bottom: -320px;
				right: 14px;
				width: 176px;
				height: 233px;
			}
		}
	}
}

